
{
	font-size: 16px;
}

header h1{
	font-family: Helvertica;
	font-size: 2em;
}

header img{
	float: right;
}

nav{
	background: dodgerblue;
	height: auto;
	margin: 0px;
}

nav a{
	color: white;
	font-family: 'Italica';
	font-size: 1em;
	padding: 20px;
	text-transform: uppercase;
}

nav a: link{
	text-decoration: none;
}
nav a:hover{
	color: midnightblue;
}

body{
	background: mintcream;
	margin: 0 auto;
	width: 80%
}

section{
	background: lightgreen;
	box-shadow: 10px 5px #888;
	-moz-box-shadow: 10px 10px 4px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	padding: 20px;
	height: 400px;
}

section h1{
	font-family: sans-serif;
}

section a{
	font-size: 20px;
	border-radius: 5px solid;
}

}