{% extends 'base.html' %}
{% block title %}Lista de productos {% endblock %}
{% block content %}

<!--IniciaModal-->
 <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <h3 id="myModalLabel">Eliminar Producto</h3>
    </div>
    <div class="modal-body">
    <p>¿Realmente desea eliminar el producto <span id="modal_name"></span>?</p>
    </div>
    <div class="modal-footer">
        <form method="post" id="frmEliminar">
            {% csrf_token %}
            <input type="hidden" id="modal_idProducto" name="product_id">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>
<!--EndModal-->


<h3>Catalogo  de Productos</h3>

{% if user.is_authenticated %}

<a class="btn" href="{% url "vista_agregar_producto" %}"><li class ="icon-plus"></li> Nuevo </a><br>
{% endif %}

{% if productos %}
<br><table class="table table-hover">
	<theader>
		<tr>
			<th>Producto</th>
			<th>Descripcion</th>

		</tr>
	</theader>

	{% for p in productos %}
	<tbody>
		<tr>
			<td> {{p.nombre}} </td>
			<td> {{p.descripcion}} </td>
			<td> <a class="btn" href="/producto/{{p.id}}/"> <li class="icon-search"></li> Ver </a></td>
			<td> <a class="btn" href="#"> <li class="icon-shopping-cart"></li> Comprar </a></td>
			{% if user.is_authenticated %}
			
			<td> <a class="btn" href="/edit/producto/{{p.id}}/"> <li class="icon-pencil"></li> Editar </a></td>

			<td> <a href="#myModal" role="button" class="btn btn-danger delete" data-toggle="modal" id="{{p.id}}" data-name="{{p.nombre}}"><i class="icon-trash icon-white"></i> Eliminar </a></td>
			
			{% endif %}
		</tr>
	</tbody>
	{% endfor %}
</table>
{% else %}
	<h2>no existen productos activos</h2>
{% endif %}
{% if productos %}
	<div class="pagination">
	<ul>
		<li><a href="/productos/page/1"> << </a></li>
		{% if productos.has_previous %}
			<li><a href="/productos/page/{{productos.previous_page_number }}/">Prev</a></li>
		{% else %}
			<li><a href="#"> Prev </a></li>
		{% endif %}
		{% if productos.has_next %}
			<li><a href="/productos/page/{{productos.next_page_number}}/"> Next </a></li>
		{% else %}
			<li><a href="#"> Next </a></li>
		{% endif %}
			<li><a href="/productos/page/{{productos.paginator.num_pages}}/"> >> </a></li>
	</ul>
	</div>

	<h4> Pagina {{ productos.number }} de {{productos.paginator.num_pages }}</h4>

{% endif %}
 
{% endblock %}
 <!--28:11-->

