<!DOCTYPE html>
<html lang="es">
<head>
		<meta charset="utf-8">
		<title> {% block title %} BIENVENIDOS {% endblock %} </title>
		<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="/media/bootstrap/css/bootstrap-responsive.css">
		<script src="/media/js/jquery.js"></script> 
		<script src="/media/js/jquery.form.min.js"></script>
		<script src="/media/js/demo.js"></script>
		<script src="/media/bootstrap/js/bootstrap.js"></script>
		<style type="text/css">
			body{
				padding-top: 60px;
				padding-bottom: 40px;
				}
			.sidebar-nav{
				padding: 9px 0;
				}
		</style>

		<!--los arreglos en python siempre empiezan desde 0 -->

		<script type="text/javascript">
			$(document).on('ready',function(){
							$.ajax({
								type:"GET",
								contentType:"application/json; charset=utf-8",
								dateType:"json",
								url:"/ws/productos/",
								success:function(response){
									var i = (response.length-1)-2; 
									for(i;i<=(response.length-1);i++){
										$('#ProductosNuevos').append("<li>"+response[i].fields.nombre+"</li>");
									
									}
								}
							});
					});

		</script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class ="navbar-inner">
			<a class="brand" href="/index/"> Ventas </a>
			{% if user.is_authenticated %}
			<p class="navbar-text pull-right"> 
				Usuario: {{user.username}}
			</p>
			{% endif %}
				
				<ul class="nav">
					<li><a href="/productos/page/1/">Productos</a></li>
					<li><a href="/contacto/">Contacto</a></li>
					<li><a href="/about/">Acerca de...</a></li>
					{% if user.is_authenticated %}
					<li><a href="/logout/" >Cerrar Sesion</a></li>
					{% else %}
					<li><a href="/login/" >Login</a></li>
					{% endif %}	
				</ul>
		
		</div><!--/inner-->
	</div><!--/navbar-->


	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span9">
				<div class="hero-unit">
					{% block content %}	
					{% endblock %}
				</div>
			</div>
			<div class="span3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">Mi Carrito</li>
						<br><p aling="justify">
						Carrito de Super
						</p>
						
					</ul>
					
				</div><!--/Well-->
						
				<div class="well sidebar-nav">
					<ul class="nav nav-list" id="ProductosNuevos">
						<li class="nav-header">Nuevos Productos</li>
						<p aling="justify">	</p>
						
					</ul>
					
				</div><!--/Well-->

				<img src="/media/images/demosjuegos15.gif">

			</div><!--span3-->

		</div>
		<footer>
				<p>&copy; Proyecto de Unidad de Diseño de Sistemas 2013</p>
			</footer>
	</div>

</body>
</html>
